<div class="card">
    <div class="card-body">
        <h2 class="card-title" id="Switch"  >Instrucciones para el Switch</h2>
        <p class="card-text">Cuerpo del robot que contiene a la oruga y sobre el que va montado el manipulador robótico.
            El robot se movera siempre y cuando se mantenga presionando la tecla respectiva, de lo contrario se detendra,
            cada orden dura aproximadamente 100ms.
        </p>
        <p class="card-text"><small class="text-muted">Teclas en minúscula</small></p>
    </div>
    
    <div>
        <table class="table table-dark table-borderless">
            <thead>
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">Tecla</th>
                    <th scope="col">Función</th>
                    <th scope="col">Nota</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>a</td>
                    <td>Movimiento a la izquierda</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>d</td>
                    <td>Movimineto a la izquierda</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>w</td>
                    <td>Movimineto hacia adelante</td>
                    <td>...</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>s</td>
                    <td>Movimineto hacia atras</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
